extends ../layouts/layout.pug
block titles
    title Shop


block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if products.length > 0
            .grid
                each product in products
                    -var img= product.imageUrl
                    -var imageName=product.title
                    -var productId=`/products/${product.id}`
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=img, alt=imageName)
                        div.card__content
                            h2.product__price Rs #{product.price}
                            p.product__description #{product.description}
                        .card__actions
                            a(href=productId class="btn") Details
                            include ../layouts/add-to-cart.pug
            
        else
            h1 No Products